jiwer
googletrans==4.0.0-rc1
whisper
git+https://github.com/openai/whisper.git 
wget
ffmpeg-python
scipy 
soundfile 
pydub
TTS@ git+https://github.com/coqui-ai/tts.git@aa8fa4756e9130e536f0dfc610617db103a43efd
torch