TTS@ git+https://github.com/coqui-ai/tts.git
jiwer
numpy
googletrans==4.0.0-rc1
wget
ffmpeg-python
scipy 
soundfile 
pydub
scikit-learn
librosa
opencv-python
torch
torchvision
tqdm
numba
mediapipe==0.8.11